body {
	margin: 0;
	max-width: 1280px;
	margin: auto;
	font-family: "Rubik", sans-serif;
	color: black;
}

header {
	height: 80px;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: white;
	box-shadow: 0 5px 10px rgb(231, 231, 231);
}