/*week day titles */
.weekDays {
	display: flex;
	height: 6.5vh;
	min-height: 30px;
	max-height: 30px;
	justify-content: space-evenly;
}
.weekDay {
	width: 14.2587vw;
	max-width: 174px;
	min-width: 50px;
	text-align: center;
	border: 0;
	margin: 0.5% 0.667px 0.15% 0.667px;
	font-family: "Rubik", sans-serif;
	color: black;
}

/*calendar display */

#calendarContainer {
	display: inline-grid;
	grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr); 
	width: 100%;
	max-width: 1280px;
	height: 93.5vh;
}

.dayTile {
	/* width: 14.17vw; */
	/* height: 18.4vh; */
	max-width: 174px;
	max-height: 160px;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	border: 1px solid rgb(0,0,0,0.09);
}
.dayNumbWrapper {
	padding-top: 2px;
}
.dayNumb {
	margin: 0 0;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgb(0,0,0,0.8);
	vertical-align: middle;
}
.eventsList {
	display: block;
}

.today {
	width: 30%;
	border-radius: 25px;
	margin: auto;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgb(0,0,0,0.65);
	vertical-align: middle;
	background-color: rgb(189, 192, 196);
}
.adjacentMonth {
	margin: 0 0;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgb(0,0,0,0.4);
}

/*event display */
.eventContainer {
	width: fit-content;
	margin: auto;
}
.eventTitle {
	width: fit-content;
	padding-left: 3%;
	padding-right: 3%;
	margin: auto;
	border-radius: 25px;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 11px;
	color: rgba(255, 255, 255);
	background-color: rgb(98, 150, 63);
}
.homeTeam{
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgba(255, 255, 255);
	display: inline;
}
.awayTeam{
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: rgba(255, 255, 255);
	display: inline;
}